@import "tailwindcss";


.font-nunito {
  font-family: "NunitoSans", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", "NunitoSans", sans-serif;
}